{% extends 'layout.html' %}
{% block title %}Hola{% endblock %}


{% block content %}
    {{ block.super }}

    <h1 class="title">¿Quienes somos?</h1>
    <h3>CODECRAFTERS</h3>
    <P>"En CODECRAFTERS, nos enorgullecemos de ser un equipo apasionado y dedicado de profesionales del desarrollo de software. 
        Nuestra misión es ofrecer soluciones innovadoras y de alta calidad que impulsen el éxito de nuestros clientes en un mundo 
        digital en constante evolución. Con un enfoque en la excelencia técnica y la creatividad, trabajamos incansablemente para 
        transformar ideas en realidad, superando expectativas y estableciendo estándares en la industria del desarrollo de software. 
        En CODECRAFTERS, somos más que desarrolladores; somos creadores de soluciones tecnológicas que inspiran y hacen posible el 
        progreso."</P>
{% endblock %}